
@{
    ViewBag.Title = "Index";
}

<h2>"The Mended Drum" pub</h2>
<h3>2$ for each bottle of beer</h3>
<h4>Remember, you can only care 2 bottles of beer maximum!</h4>
@using (Html.BeginForm())
{
    <input type="submit" value="Buy some beer" onclick=""/>
}
