@model Web.Models.Fool
@{
    ViewBag.Title = "Index";
}

<h2 class="messages">@Model.WelcomingMessage</h2>

<div class="row decision">
    <label>What will you do?</label><br />
    <input class="btn waves-effect waves-light my-button" type="button" value="Earn money" onclick="location.href = '@Url.Action("Play", @Model)'" />
    <input class="btn waves-effect waves-light my-button" type="button" value="Skip" onclick="location.href = '@Url.Action("RunGame", "Home")'" />
</div>