@model Web.Models.Fool
@{
    ViewBag.Title = "Index";
}

<h2>@Model.WelcomingMessage</h2>
<h3>What will you do?</h3>
<div class="row">
    <div class="col-md-3">@Html.ActionLink("Earn money", "Play", @Model)</div>
    <div class="col-lg-3">@Html.ActionLink("Skip", "RunGame", "Home")</div>
</div>