@model Web.Models.Fool
@{
    ViewBag.Title = "Index";
}

<h2 class="messages">@Model.WelcomingMessage</h2>

<div class="container row ">
    <div class="col s6 decision">
        <label>What will you do?</label><br />
        <input class="btn waves-effect waves-light my-button" type="button" value="Earn money" onclick="location.href = '@Url.Action("Play", @Model)'" />
        <input class="btn waves-effect waves-light my-button" type="button" value="Skip" onclick="location.href = '@Url.Action("RunGame", "Home")'" />
    </div>
    <div class="col s6">
        <img src="~/Content/EntitiesImages/fools-guild.png" alt="Mended Drum Pub Image" align="right" style="float: right; width: 90%" />
    </div>
</div>
