@model Web.Models.Beggar
@{
    ViewBag.Title = "Kill";
}

@if ((bool)@TempData["outOfMoney"])
{
    <h2 class="messages">Unfortunately, you are out of money! @Model.KillingMessage</h2>
}
else
{
    <h2 class="messages">@Model.KillingMessage</h2>
}
}

