@model Web.Models.Assassin
@{
    ViewBag.Title = "Index";
}
<h3></h3>
<h2>@Model.WelcomingMessage</h2>
<h3>What will you do?</h3>

<div class="row">
    <div class="col-md-3"><a @Html.ActionLink("Make a contract", "Play")></a></div>
    <div class="col-lg-3"><a @Html.ActionLink("Run away", "Index", "Home")></a></div>
</div>

