@model Web.Models.Assassin
@{
    ViewBag.Title = "Index";
}

<h2 class="messages">@Model.WelcomingMessage</h2>

<div class="col decision">
    <label>What will you do?</label><br/>
    <input class="btn waves-effect waves-light my-button" type="button" value="Make a contract" onclick="location.href = '@Url.Action("GetMoney")'"/>
    <input class="btn waves-effect waves-light my-button" type="button" value="Run away" onclick="location.href = '@Url.Action("Kill", @Model)'"/>
</div>

