@model int
@{
    ViewBag.Title = "Play";
}

<h2>Enter the amount of money you are able to pay</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x)<br/>
    <input type="submit" value="Pay"/>
}