@model Web.Models.ThievesGuild
@{
    ViewBag.Title = "Index";
}

<h2 class="messages">@Model.WelcomingMessage</h2>

<div class="row decision">
    <label>What will you do?</label><br />
    <input class="btn waves-effect waves-light my-button" type="button" value="Give him money" onclick="location.href = '@Url.Action("Play", @Model)'" />
    <input class="btn waves-effect waves-light my-button" type="button" value="Run away" onclick="location.href = '@Url.Action("Kill", @Model)'" />
</div>